@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Clique em "Cadastrar" para adicionar um documento ou clique em consultar para listar todos os documentos.</p>
</div>
