@{
    ViewData["Title"] = "Lista de Documentos";
}

    <h1 class="display-4 m-5">Documentos</h1>
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Título</th>
      <th scope="col">Categoria</th>
      <th scope="col">Processos</th>
      <th scope="col">Arquivo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Procedimento 1</td>
      <td>A</td>
      <td>Definição</td>
      <td><a type="submit" class="btn btn-primary">Download</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Procedimento 2</td>
      <td>B</td>
      <td>Análise</td>
      <td><a type="submit" class="btn btn-primary">Download</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Procedimento 3</td>
      <td>C</td>
      <td>Melhoria</td>
      <td><a type="submit" class="btn btn-primary">Download</a></td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Procedimento 4</td>
      <td>D</td>
      <td>Excelência</td>
      <td><a type="submit" class="btn btn-primary">Download</a></td>
    </tr>
  </tbody>
</table>
